twilio==9.0.5
Django==5.0.4
psycopg[binary]==3.1.18
psycopg2-binary==2.9.9
python-dotenv==1.0.1
python-socketio==5.11.2
channels==4.1.0
pillow==10.3.0
django-simple-history==3.6.0
celery==5.4.0
redis==5.0.7
django-celery-beat==2.6.0


