{% load static %}
{% for customer in customers %}
    <li class="person" data-chat="person{{ forloop.counter }}" data-id="{{ customer.id }}">
        <img src="{% static 'images/user-circle-icon.png' %}" alt="" />
        <span class="name">{{ customer.first_name }} {{ customer.last_name }}</span>
        <span class="time">
            {% if customer.notifications_list %}
                {{ customer.notifications_list.first.date|date:"H:i A" }}
            {% endif %}
        </span>
        <span class="preview">
            {% if customer.notifications_list %}
                {{ customer.notifications_list.first.text }}
            {% endif %}
        </span>
    </li>
{% endfor %}