{% extends "layouts/base.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/sms.css' %}">
{% endblock css %}
{% block title %}Notifications{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="container">
        <div class="left overflow-auto">
            <div class="top fixed">
                <input class="text-left" type="text" placeholder="Search" />
                <a href="javascript:;" class="search bg-purple-600 text-center hover:bg-purple-500 text-webkit-center pt-2 pl-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-white">
                        <path fill-rule="evenodd" d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.28l4.69 4.69a.75.75 0 1 1-1.06 1.06l-4.69-4.69A8.25 8.25 0 0 1 2.25 10.5Z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
            <ul class="people">
                {% for customer in customers %}
                    <li class="person {% if customer.id == selected_customer_id %}active{% endif %}" data-chat="person{{ forloop.counter }}" data-id="{{ customer.id }}">
                        <img src="{% static 'images/user-circle-icon.png' %}" alt="" />
                        <span class="name">{{ customer.first_name }} {{ customer.last_name }}</span>
                        <span class="time">
                            {% if customer.notifications_list %}
                                {{ customer.notifications_list.last.date|date:"H:i A" }}
                            {% endif %}
                        </span>
                        <span class="preview">
                            {% if customer.notifications_list %}
                                {{ customer.notifications_list.last.text }}
                            {% endif %}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="right">
            <div class="top"><span>To: <span class="name"></span></span></div>
            {% for customer in customers %}
                <div class="chat {% if customer.id == selected_customer_id %}active-chat{% endif %}" data-chat="person{{ forloop.counter }}" {% if customer.id == selected_customer_id %}style="display: flex;"{% else %}style="display: none;"{% endif %}>
                    <div class="conversation-start">
                        {% if customer.notifications_list %}
                            <span>{{ customer.notifications_list.first.date|date:"m/d/Y" }}</span>
                        {% endif %}
                    </div>
                    {% for notification in customer.notifications_list %}
                        <div class="bubble {% if notification.sent_by == "Customer Message" %}you{% else %}me{% endif %}">
                            {{ notification.text }}
                            <div class="message-time">{{ notification.date|date:"m/d/Y H:i A" }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <form id="send-message-form" action="{% url 'send-chat' %}" method="POST"> 
                {% csrf_token %}
                <input type="hidden" id="customer-id" name="customer-id" value="">
                <div class="write">
                     <label for="dropzone-file" class="write-link attach cursor-pointer">
                        <input id="dropzone-file" name="document-file" type="file" class="hidden" />
                        <span id="file-name" class="ml-2"></span>
                    </label>
                    <input type="text" id="message-text" name="message-text" placeholder="Write your message...">
                    <button type="submit" class="write-link send">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/sms.js' %}"></script>
{% endblock script %}
