{% extends './layouts/base.html' %} 
{% load static %}
{% block header-button %}
   <!-- <button type="button" class="sm:order-0 order-1 ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:ml-0">Share</button>
    <button type="button" class="order-0 inline-flex items-center rounded-md bg-purple-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-purple-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-600 sm:order-1 sm:ml-3">Create</button>-->
{% endblock header-button %}
{% block title %}Dashboard{% endblock %}
{% block content %}     
  <div class="overflow-hidden">
    <!-- Secondary navigation -->
    <header class="pb-4 pt-6 sm:pb-6 mt-14">
      <div class="mx-auto flex max-w-7xl flex-wrap items-center gap-6 px-4 sm:flex-nowrap sm:px-6 lg:px-8">
        <h1 class="text-base font-semibold leading-7 text-gray-900">Filters</h1>
        <div class="order-last flex w-full gap-x-8 text-sm font-semibold leading-6 sm:order-none sm:w-auto sm:border-l sm:border-gray-200 sm:pl-6 sm:leading-7">
           <a href="#" class="text-indigo-600">Today</a>
          <a href="#" class="text-gray-700">Last 7 days</a>
          <a href="#" class="text-gray-700">Last 30 days</a>
          <a href="#" class="text-gray-700">All-time</a>
        </div>
        <a href="#" class="ml-auto flex items-center gap-x-1 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          <svg class="-ml-1.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z" />
          </svg>
          New Customer
        </a>
      </div>
    </header>

    <!-- Stats -->
    <div class="border-b border-b-gray-900/10 lg:border-t lg:border-t-gray-900/5">
      <dl class="mx-auto grid max-w-7xl grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 lg:px-2 xl:px-0">
        <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 px-4 py-10 sm:px-6 lg:border-t-0 xl:px-8">
          <dt class="text-sm font-medium leading-6 text-gray-500">New Customers</dt>
          {% comment "" %}
                    <dd class="text-xs font-medium text-gray-700">+4.75%</dd>
          {% endcomment %}
          <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">{{new_customers_today}}</dd>
        </div>
        <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 px-4 py-10 sm:px-6 lg:border-t-0 xl:px-8 sm:border-l">
          <dt class="text-sm font-medium leading-6 text-gray-500">New Policy</dt>
          {% comment "" %}
                    <dd class="text-xs font-medium text-rose-600">+54.02%</dd>
          {% endcomment %}
          <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">{{new_policies_today}}</dd>
        </div>
        <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 px-4 py-10 sm:px-6 lg:border-t-0 xl:px-8 lg:border-l">
          <dt class="text-sm font-medium leading-6 text-gray-500">Policy Renewals</dt>
          {% comment "" %}
                    <dd class="text-xs font-medium text-gray-700">-1.39%</dd>
          {% endcomment %}
          <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">{{renewals_today}}</dd>
        </div>
         <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 px-4 py-10 sm:px-6 lg:border-t-0 xl:px-8 lg:border-l">
          <dt class="text-sm font-medium leading-6 text-gray-500">Policy Canceled</dt>
          {% comment "" %}
             <dd class="text-xs font-medium text-gray-700">-1.39%</dd>
          {% endcomment %}
          <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">{{inactives_today}}</dd>
        </div>
        <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 px-4 py-10 sm:px-6 lg:border-t-0 xl:px-8 sm:border-l">
          <dt class="text-sm font-medium leading-6 text-gray-500">Base Premium</dt>
          {% comment "" %}
                    <dd class="text-xs font-medium text-rose-600">+10.18%</dd>
          {% endcomment %}
          <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">${{ total_base_premium_today }}</dd>
        </div>
      </dl>
    </div>
    
  </div>

  <div class="space-y-16 py-16 xl:space-y-20">
     <!-- Client estatus -->
    <div class="mx-auto">
          <div class="mt-2 grid px-10 grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
            <!-- Card -->
            <div class="overflow-hidden rounded-lg bg-gray-50">
              <div class="p-5">
                <div class="flex items-center">
                  <div class="flex-shrink-0">
                    <svg class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z" />
                    </svg>
                  </div>
                  <div class="ml-5 w-0 flex-1">
                    <dl>
                      <dt class="truncate text-sm font-medium text-gray-500">Leads</dt>
                      <dd>
                        <div class="text-lg font-medium text-gray-900">{{leads}}</div>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="bg-purple-600 px-5 py-3">
                <div class="text-sm">
                  <a onclick="toggleModal('modal-all-leads')" class="font-medium text-white hover:text-gray-900 cursor-pointer">View details</a>
                </div>
              </div>
            </div>
            <div class="overflow-hidden rounded-lg bg-gray-50 shadow">
              <div class="p-5">
                <div class="flex items-center">
                  <div class="flex-shrink-0">
                    <svg class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                    </svg>
                  </div>
                  <div class="ml-5 w-0 flex-1">
                    <dl>
                      <dt class="truncate text-sm font-medium text-gray-500">Clients</dt>
                      <dd>
                        <div class="text-lg font-medium text-gray-900">{{clients}}</div>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="bg-green-500 px-5 py-3">
                <div class="text-sm">
                   <a onclick="toggleModal('modal-all-customers')" class="font-medium text-white hover:text-gray-900 cursor-pointer">View details</a>
                </div>
              </div>
            </div>
            <div class="overflow-hidden rounded-lg bg-gray-50 shadow">
              <div class="p-5">
                <div class="flex items-center">
                  <div class="flex-shrink-0">
                    <svg class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                    </svg>
                  </div>
                  <div class="ml-5 w-0 flex-1">
                    <dl>
                      <dt class="truncate text-sm font-medium text-gray-500">Inactive</dt>
                      <dd>
                        <div class="text-lg font-medium text-gray-900">{{inactive_customers}}</div>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="bg-pink-600 px-5 py-3">
                <div class="text-sm">
                    <a onclick="toggleModal('modal-all-inactive-customers')" class="font-medium text-white hover:text-gray-900 cursor-pointer">View details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    
    <div class="mt-2 grid px-10 grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-2">
     <div>
      <div class="flex mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 items-center justify-between">
        <h2 class="mx-auto max-w-2xl text-base font-semibold leading-6 text-gray-900 lg:mx-0 lg:max-w-none">Calls</h2>
        <a href="#" class="text-sm font-semibold leading-6 text-indigo-600 hover:text-indigo-500">View all<span class="sr-only">, clients</span></a>
      </div>
      <div class="mt-6 overflow-hidden border-t border-gray-100">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
            <table class="w-full text-left">
              <thead class="sr-only">
                <tr>
                  <th>Task</th>
                  <th class="hidden sm:table-cell">Date</th>
                  <th>More details</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-sm leading-6 text-gray-900">
                  <th scope="colgroup" colspan="3" class="relative isolate py-2 font-semibold">
                    <time datetime="2023-03-22">Today</time>
                    <div class="absolute inset-y-0 right-full -z-10 w-screen border-b border-gray-200 bg-gray-50"></div>
                    <div class="absolute inset-y-0 left-0 -z-10 w-screen border-b border-gray-200 bg-gray-50"></div>
                  </th>
                </tr>
               
                {% for call in calls %}
                 <tr>
                  <td class="relative py-5 pr-6">
                    <div class="flex gap-x-6">
                      <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden h-6 w-5 flex-none text-gray-400 sm:block">
                          <path fill-rule="evenodd" d="M19.5 9.75a.75.75 0 0 1-.75.75h-4.5a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 1 1.5 0v2.69l4.72-4.72a.75.75 0 1 1 1.06 1.06L16.06 9h2.69a.75.75 0 0 1 .75.75Z" clip-rule="evenodd" />
                          <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
                      </svg>
                      <div class="flex-auto">
                        <div class="flex items-start gap-x-3">
                          <div class="text-sm font-medium leading-6 text-gray-900">Call to Juan Perez to remain pending payment</div>
                          <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-green-700 bg-green-50 ring-green-600/20">Done</div>
                        </div>
                        <div class="mt-1 text-xs leading-5 text-gray-500">Customer: Jessy Schwarz</div>
                      </div>
                    </div>
                    <div class="absolute bottom-0 right-full h-px w-screen bg-gray-100"></div>
                    <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-100"></div>
                  </td>
                  <td class="hidden py-5 pr-6 sm:table-cell">
                    <div class="text-sm leading-6 text-gray-900">04-29-2024</div>
                    <div class="mt-1 text-xs leading-5 text-gray-500">10:00 am</div>
                  </td>
                  <td class="py-5 text-right">
                    <div class="flex justify-end">
                      <a href="#" class="text-sm font-medium leading-6 text-indigo-600 hover:text-indigo-500">View</a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="flex mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 items-center justify-between">
        <h2 class="mx-auto max-w-2xl text-base font-semibold leading-6 text-gray-900 lg:mx-0 lg:max-w-none">New messages</h2>
        <a href="#" class="text-sm font-semibold leading-6 text-indigo-600 hover:text-indigo-500">View all<span class="sr-only">, clients</span></a>
      </div>
      <div class="mt-6 overflow-hidden border-t border-gray-100">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
            <table class="w-full text-left">
              <thead class="sr-only">
                <tr>
                  <th>Task</th>
                  <th class="hidden sm:table-cell">Date</th>
                  <th>More details</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-sm leading-6 text-gray-900">
                  <th scope="colgroup" colspan="3" class="relative isolate py-2 font-semibold">
                    <time datetime="2023-03-22">Today</time>
                    <div class="absolute inset-y-0 right-full -z-10 w-screen border-b border-gray-200 bg-gray-50"></div>
                    <div class="absolute inset-y-0 left-0 -z-10 w-screen border-b border-gray-200 bg-gray-50"></div>
                  </th>
                </tr>
                <tr>
                  <td class="relative py-5 pr-6">
                    <div class="flex gap-x-6">
                      <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden h-6 w-5 flex-none text-gray-400 sm:block">
                        <path d="M4.913 2.658c2.075-.27 4.19-.408 6.337-.408 2.147 0 4.262.139 6.337.408 1.922.25 3.291 1.861 3.405 3.727a4.403 4.403 0 0 0-1.032-.211 50.89 50.89 0 0 0-8.42 0c-2.358.196-4.04 2.19-4.04 4.434v4.286a4.47 4.47 0 0 0 2.433 3.984L7.28 21.53A.75.75 0 0 1 6 21v-4.03a48.527 48.527 0 0 1-1.087-.128C2.905 16.58 1.5 14.833 1.5 12.862V6.638c0-1.97 1.405-3.718 3.413-3.979Z" />
                        <path d="M15.75 7.5c-1.376 0-2.739.057-4.086.169C10.124 7.797 9 9.103 9 10.609v4.285c0 1.507 1.128 2.814 2.67 2.94 1.243.102 2.5.157 3.768.165l2.782 2.781a.75.75 0 0 0 1.28-.53v-2.39l.33-.026c1.542-.125 2.67-1.433 2.67-2.94v-4.286c0-1.505-1.125-2.811-2.664-2.94A49.392 49.392 0 0 0 15.75 7.5Z" />
                      </svg>
                      <div class="flex-auto">
                        <div class="flex items-start gap-x-3">
                          <div class="text-sm font-medium leading-6 text-gray-900"><span class="font-bold">Me pueden responder las llamdas que les he hecho</span></div>
                          <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-green-700 bg-green-50 ring-green-600/20">New</div>
                        </div>
                        <div class="mt-1 text-xs leading-5 text-gray-500">Customer: Andres Quintero</div>
                      </div>
                    </div>
                    <div class="absolute bottom-0 right-full h-px w-screen bg-gray-100"></div>
                    <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-100"></div>
                  </td>
                  <td class="hidden py-5 pr-6 sm:table-cell">
                    <div class="text-sm leading-6 text-gray-900">04-29-2024</div>
                    <div class="mt-1 text-xs leading-5 text-gray-500">10:00 am</div>
                  </td>
                  <td class="py-5 text-right">
                    <div class="flex justify-end">
                      <a href="#" class="text-sm font-medium leading-6 text-indigo-600 hover:text-indigo-500">View</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="relative py-5 pr-6">
                    <div class="flex gap-x-6">
                      <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden h-6 w-5 flex-none text-gray-400 sm:block">
                          <path d="M4.913 2.658c2.075-.27 4.19-.408 6.337-.408 2.147 0 4.262.139 6.337.408 1.922.25 3.291 1.861 3.405 3.727a4.403 4.403 0 0 0-1.032-.211 50.89 50.89 0 0 0-8.42 0c-2.358.196-4.04 2.19-4.04 4.434v4.286a4.47 4.47 0 0 0 2.433 3.984L7.28 21.53A.75.75 0 0 1 6 21v-4.03a48.527 48.527 0 0 1-1.087-.128C2.905 16.58 1.5 14.833 1.5 12.862V6.638c0-1.97 1.405-3.718 3.413-3.979Z" />
                          <path d="M15.75 7.5c-1.376 0-2.739.057-4.086.169C10.124 7.797 9 9.103 9 10.609v4.285c0 1.507 1.128 2.814 2.67 2.94 1.243.102 2.5.157 3.768.165l2.782 2.781a.75.75 0 0 0 1.28-.53v-2.39l.33-.026c1.542-.125 2.67-1.433 2.67-2.94v-4.286c0-1.505-1.125-2.811-2.664-2.94A49.392 49.392 0 0 0 15.75 7.5Z" />
                      </svg>
                      <div class="flex-auto">
                        <div class="flex items-start gap-x-3">
                          <div class="text-sm font-medium leading-6 text-gray-900">Quiero saber el precio de un seguro de autos</div>
                          <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-gray-600 bg-gray-50 ring-gray-500/10">Seen</div>
                        </div>
                        <div class="mt-1 text-xs leading-5 text-gray-500">Customer: <span class="text-black">New</span></div>
                      </div>
                    </div>
                    <div class="absolute bottom-0 right-full h-px w-screen bg-gray-100"></div>
                    <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-100"></div>
                  </td>
                  <td class="hidden py-5 pr-6 sm:table-cell">
                    <div class="text-sm leading-6 text-gray-900">04-29-2024</div>
                    <div class="mt-1 text-xs leading-5 text-gray-500">03:00 pm</div>
                  </td>
                  <td class="py-5 text-right">
                    <div class="flex justify-end">
                      <a href="#" class="text-sm font-medium leading-6 text-indigo-600 hover:text-indigo-500">View</a>
                    </div>
                   
                  </td>
                </tr>
                <tr>
                  <td class="relative py-5 pr-6">
                    <div class="flex gap-x-6">
                      <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden h-6 w-5 flex-none text-gray-400 sm:block">
                          <path d="M4.913 2.658c2.075-.27 4.19-.408 6.337-.408 2.147 0 4.262.139 6.337.408 1.922.25 3.291 1.861 3.405 3.727a4.403 4.403 0 0 0-1.032-.211 50.89 50.89 0 0 0-8.42 0c-2.358.196-4.04 2.19-4.04 4.434v4.286a4.47 4.47 0 0 0 2.433 3.984L7.28 21.53A.75.75 0 0 1 6 21v-4.03a48.527 48.527 0 0 1-1.087-.128C2.905 16.58 1.5 14.833 1.5 12.862V6.638c0-1.97 1.405-3.718 3.413-3.979Z" />
                          <path d="M15.75 7.5c-1.376 0-2.739.057-4.086.169C10.124 7.797 9 9.103 9 10.609v4.285c0 1.507 1.128 2.814 2.67 2.94 1.243.102 2.5.157 3.768.165l2.782 2.781a.75.75 0 0 0 1.28-.53v-2.39l.33-.026c1.542-.125 2.67-1.433 2.67-2.94v-4.286c0-1.505-1.125-2.811-2.664-2.94A49.392 49.392 0 0 0 15.75 7.5Z" />
                      </svg>
                      <div class="flex-auto">
                        <div class="flex items-start gap-x-3">
                          <div class="text-sm font-medium leading-6 text-gray-900">Me pueden mandar una cotizacion del precio de un seguro</div>
                          <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-gray-600 bg-gray-50 ring-gray-500/10">Seen</div>
                        </div>
                        <div class="mt-1 text-xs leading-5 text-gray-500">Customer: Jessy Schwarz</div>
                      </div>
                    </div>
                    <div class="absolute bottom-0 right-full h-px w-screen bg-gray-100"></div>
                    <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-100"></div>
                  </td>
                  <td class="hidden py-5 pr-6 sm:table-cell">
                    <div class="text-sm leading-6 text-gray-900">04-29-2024</div>
                    <div class="mt-1 text-xs leading-5 text-gray-500">09:00 am</div>
                  </td>
                  <td class="py-5 text-right">
                    <div class="flex justify-end">
                      <a href="#" class="text-sm font-medium leading-6 text-indigo-600 hover:text-indigo-500">View</a>
                    </div>
                  </td>
                </tr>    
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
    
    
    <!-- Recent activity table -->
    <div>
      <div class="flex mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 items-center justify-between">
        <h2 class="mx-auto max-w-2xl text-base font-semibold leading-6 text-gray-900 lg:mx-0 lg:max-w-none">My Task</h2>
        <a href="#" class="text-sm font-semibold leading-6 text-indigo-600 hover:text-indigo-500">View all<span class="sr-only">, clients</span></a>
      </div>
      <div class="mt-6 overflow-hidden border-t border-gray-100">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
            <table class="w-full text-left">
              <thead class="sr-only">
                <tr>
                  <th>Task</th>
                  <th class="hidden sm:table-cell">Date</th>
                  <th>More details</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-sm leading-6 text-gray-900">
                  <th scope="colgroup" colspan="3" class="relative isolate py-2 font-semibold">
                    <time datetime="2023-03-22">Today</time>
                    <div class="absolute inset-y-0 right-full -z-10 w-screen border-b border-gray-200 bg-gray-50"></div>
                    <div class="absolute inset-y-0 left-0 -z-10 w-screen border-b border-gray-200 bg-gray-50"></div>
                  </th>
                </tr>
                <tr>
                  <td class="relative py-5 pr-6">
                    <div class="flex gap-x-6">
                      <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden h-6 w-5 flex-none text-gray-400 sm:block">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                      </svg>
                      <div class="flex-auto">
                        <div class="flex items-start gap-x-3">
                          <div class="text-sm font-medium leading-6 text-gray-900">Call to Juan Perez to remain pending payment</div>
                          <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-green-700 bg-green-50 ring-green-600/20">Done</div>
                        </div>
                        <div class="mt-1 text-xs leading-5 text-gray-500">Owner: Jessy Schwarz</div>
                      </div>
                    </div>
                    <div class="absolute bottom-0 right-full h-px w-screen bg-gray-100"></div>
                    <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-100"></div>
                  </td>
                  <td class="hidden py-5 pr-6 sm:table-cell">
                    <div class="text-sm leading-6 text-gray-900">04-29-2024</div>
                    <div class="mt-1 text-xs leading-5 text-gray-500">10:00 am</div>
                  </td>
                  <td class="py-5 text-right">
                    <div class="flex justify-end">
                      <a href="#" class="text-sm font-medium leading-6 text-indigo-600 hover:text-indigo-500">View<span class="hidden sm:inline"> details</span><span class="sr-only">, invoice #00012, Reform</span></a>
                    </div>
                    <div class="mt-1 text-xs leading-5 text-gray-500">Task <span class="text-gray-900">#00012</span></div>
                  </td>
                </tr>
                <tr>
                  <td class="relative py-5 pr-6">
                    <div class="flex gap-x-6">
                      <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden h-6 w-5 flex-none text-gray-400 sm:block">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                      </svg>
                      <div class="flex-auto">
                        <div class="flex items-start gap-x-3">
                          <div class="text-sm font-medium leading-6 text-gray-900">Activate John Policy</div>
                          <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-gray-600 bg-gray-50 ring-gray-500/10">Pending</div>
                        </div>
                        <div class="mt-1 text-xs leading-5 text-gray-500">Owner: Jessy Schwarz</div>
                      </div>
                    </div>
                    <div class="absolute bottom-0 right-full h-px w-screen bg-gray-100"></div>
                    <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-100"></div>
                  </td>
                  <td class="hidden py-5 pr-6 sm:table-cell">
                    <div class="text-sm leading-6 text-gray-900">04-29-2024</div>
                    <div class="mt-1 text-xs leading-5 text-gray-500">03:00 pm</div>
                  </td>
                  <td class="py-5 text-right">
                    <div class="flex justify-end">
                      <a href="#" class="text-sm font-medium leading-6 text-indigo-600 hover:text-indigo-500">View<span class="hidden sm:inline"> details</span><span class="sr-only">, invoice #00011, Tom Cook</span></a>
                    </div>
                    <div class="mt-1 text-xs leading-5 text-gray-500">Task <span class="text-gray-900">#00011</span></div>
                  </td>
                </tr>
                <tr>
                  <td class="relative py-5 pr-6">
                    <div class="flex gap-x-6">
                      <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden h-6 w-5 flex-none text-gray-400 sm:block">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                      </svg>
                      <div class="flex-auto">
                        <div class="flex items-start gap-x-3">
                          <div class="text-sm font-medium leading-6 text-gray-900">Call to all client with pending Document </div>
                          <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-red-700 bg-red-50 ring-red-600/10">Overdue</div>
                        </div>
                        <div class="mt-1 text-xs leading-5 text-gray-500">Owner: Jessy Schwarz</div>
                      </div>
                    </div>
                    <div class="absolute bottom-0 right-full h-px w-screen bg-gray-100"></div>
                    <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-100"></div>
                  </td>
                  <td class="hidden py-5 pr-6 sm:table-cell">
                    <div class="text-sm leading-6 text-gray-900">04-29-2024</div>
                    <div class="mt-1 text-xs leading-5 text-gray-500">09:00 am</div>
                  </td>
                  <td class="py-5 text-right">
                    <div class="flex justify-end">
                      <a href="#" class="text-sm font-medium leading-6 text-indigo-600 hover:text-indigo-500">View<span class="hidden sm:inline"> details</span><span class="sr-only">, invoice #00009, Tuple</span></a>
                    </div>
                    <div class="mt-1 text-xs leading-5 text-gray-500">Task <span class="text-gray-900">#00009</span></div>
                  </td>
                </tr>    
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Recent client list-->
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
        <div class="flex items-center justify-between">
          <h2 class="text-base font-semibold leading-7 text-gray-900">Recent clients</h2>
          <a href="#" class="text-sm font-semibold leading-6 text-indigo-600 hover:text-indigo-500">View all<span class="sr-only">, clients</span></a>
        </div>
        <ul role="list" class="mt-6 grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-3 xl:gap-x-8">
          <li class="overflow-hidden rounded-xl border border-gray-200">
            <div class="flex items-center gap-x-4 border-b border-gray-900/5 bg-gray-50 p-6">
              <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-12 w-12 px-1 flex-none rounded-lg bg-white object-cover ring-1 ring-gray-900/10 text-gray-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
              </svg>
              <div class="text-sm font-medium leading-6 text-gray-900">Andrew Williams</div>
              <div class="relative ml-auto">
                <button onclick="openDropdown(event,'option1')" type="button" class="-m-2.5 block p-2.5 text-gray-400 hover:text-gray-500" id="options-menu-0-button" aria-expanded="false" aria-haspopup="true">
                  <span class="sr-only">Open options</span>
                  <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M3 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM8.5 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM15.5 8.5a1.5 1.5 0 100 3 1.5 1.5 0 000-3z" />
                  </svg>
                </button>

                <!--
                  Dropdown menu, show/hide based on menu state.

                  Entering: "transition ease-out duration-100"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                  Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95"
                -->
                <div id="option1" class="hidden absolute right-0 z-10 mt-0.5 w-32 origin-top-right rounded-md bg-white py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu-0-button" tabindex="-1">
                  <!-- Active: "bg-gray-50", Not Active: "" -->
                  <a href="#" class="hover:text-indigo-600 hover:bg-gray-100 block px-3 py-1 text-sm leading-6 text-gray-900" role="menuitem" tabindex="-1" id="options-menu-0-item-0">View<span class="sr-only">, Tuple</span></a>
                  <a href="#" class="hover:text-indigo-600 hover:bg-gray-100 block px-3 py-1 text-sm leading-6 text-gray-900" role="menuitem" tabindex="-1" id="options-menu-0-item-1">Edit<span class="sr-only">, Tuple</span></a>
                </div>
              </div>
            </div>
            <dl class="-my-3 divide-y divide-gray-100 px-6 py-4 text-sm leading-6">
              <div class="flex justify-between gap-x-4 py-3">
                <dt class="text-gray-500">Sold date</dt>
                <dd class="text-gray-700"><time datetime="2022-12-13">May 13, 2024</time></dd>
              </div>
              <div class="flex justify-between gap-x-4 py-3">
                <dt class="text-gray-500">Base Premium</dt>
                <dd class="flex items-start gap-x-2">
                  <div class="font-medium text-gray-900">$2,000.00</div>
                  <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-gray-600 bg-gray-50 ring-gray-500/10">Pending</div>
                </dd>
              </div>
            </dl>
          </li>
          <li class="overflow-hidden rounded-xl border border-gray-200">
            <div class="flex items-center gap-x-4 border-b border-gray-900/5 bg-gray-50 p-6">
              <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-12 w-12 px-1 flex-none rounded-lg bg-white object-cover ring-1 ring-gray-900/10 text-gray-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
              </svg>
              <div class="text-sm font-medium leading-6 text-gray-900">Charles Johnson</div>
              <div class="relative ml-auto">
                <button type="button" onclick="openDropdown(event,'option2')" class="-m-2.5 block p-2.5 text-gray-400 hover:text-gray-500" id="options-menu-1-button" aria-expanded="false" aria-haspopup="true">
                  <span class="sr-only">Open options</span>
                  <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M3 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM8.5 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM15.5 8.5a1.5 1.5 0 100 3 1.5 1.5 0 000-3z" />
                  </svg>
                </button>

                <!--
                  Dropdown menu, show/hide based on menu state.

                  Entering: "transition ease-out duration-100"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                  Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95"
                -->
                <div id="option2" class="hidden absolute right-0 z-10 mt-0.5 w-32 origin-top-right rounded-md bg-white py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu-1-button" tabindex="-1">
                  <!-- Active: "bg-gray-50", Not Active: "" -->
                  <a href="#" class="hover:text-indigo-600 hover:bg-gray-100 block px-3 py-1 text-sm leading-6 text-gray-900" role="menuitem" tabindex="-1" id="options-menu-1-item-0">View<span class="sr-only">, SavvyCal</span></a>
                  <a href="#" class="hover:text-indigo-600 hover:bg-gray-100 block px-3 py-1 text-sm leading-6 text-gray-900" role="menuitem" tabindex="-1" id="options-menu-1-item-1">Edit<span class="sr-only">, SavvyCal</span></a>
                </div>
              </div>
            </div>
            <dl class="-my-3 divide-y divide-gray-100 px-6 py-4 text-sm leading-6">
              <div class="flex justify-between gap-x-4 py-3">
                <dt class="text-gray-500">Sold date</dt>
                <dd class="text-gray-700"><time datetime="2023-01-22">January 22, 2024</time></dd>
              </div>
              <div class="flex justify-between gap-x-4 py-3">
                <dt class="text-gray-500">Base Premium</dt>
                <dd class="flex items-start gap-x-2">
                  <div class="font-medium text-gray-900">$14,000.00</div>
                  <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-green-700 bg-green-50 ring-green-600/20">Paid</div>
                </dd>
              </div>
            </dl>
          </li>
          <li class="overflow-hidden rounded-xl border border-gray-200">
            <div class="flex items-center gap-x-4 border-b border-gray-900/5 bg-gray-50 p-6">
              <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-12 w-12 px-1 flex-none rounded-lg bg-white object-cover ring-1 ring-gray-900/10 text-gray-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
              </svg>
              <div class="text-sm font-medium leading-6 text-gray-900">Steven Brown</div>
              <div class="relative ml-auto">
                <button type="button" onclick="openDropdown(event,'option3')" class="-m-2.5 block p-2.5 text-gray-400 hover:text-gray-500" id="options-menu-2-button" aria-expanded="false" aria-haspopup="true">
                  <span class="sr-only">Open options</span>
                  <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M3 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM8.5 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM15.5 8.5a1.5 1.5 0 100 3 1.5 1.5 0 000-3z" />
                  </svg>
                </button>

                <!--
                  Dropdown menu, show/hide based on menu state.

                  Entering: "transition ease-out duration-100"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                  Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95"
                -->
                <div id="option3" class="hidden absolute right-0 z-10 mt-0.5 w-32 origin-top-right rounded-md bg-white py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu-2-button" tabindex="-1">
                  <!-- Active: "bg-gray-50", Not Active: "" -->
                  <a href="#" class="hover:text-indigo-600 hover:bg-gray-100 block px-3 py-1 text-sm leading-6 text-gray-900" role="menuitem" tabindex="-1" id="options-menu-2-item-0">View<span class="sr-only">, Reform</span></a>
                  <a href="#" class="hover:text-indigo-600 hover:bg-gray-100 block px-3 py-1 text-sm leading-6 text-gray-900" role="menuitem" tabindex="-1" id="options-menu-2-item-1">Edit<span class="sr-only">, Reform</span></a>
                </div>
              </div>
            </div>
            <dl class="-my-3 divide-y divide-gray-100 px-6 py-4 text-sm leading-6">
              <div class="flex justify-between gap-x-4 py-3">
                <dt class="text-gray-500">Sold date</dt>
                <dd class="text-gray-700"><time datetime="2023-01-23">January 23, 2024</time></dd>
              </div>
              <div class="flex justify-between gap-x-4 py-3">
                <dt class="text-gray-500">Base Premium</dt>
                <dd class="flex items-start gap-x-2">
                  <div class="font-medium text-gray-900">$7,600.00</div>
                  <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-green-700 bg-green-50 ring-green-600/20">Paid</div>
                </dd>
              </div>
            </dl>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% include "customers/all_leads_modal.html" %}
{% include "customers/all_customers_modal.html" %}
{% include "customers/all_inactive_customers_modal.html" %}


{% endblock  %}
{% block script %}  
<script src="https://unpkg.com/@popperjs/core@2.9.1/dist/umd/popper.min.js" charset="utf-8"></script>
<script>

  function toggleModal(modalID) {
      document.getElementById(modalID).classList.toggle("hidden");
      document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
      document.getElementById(modalID).classList.toggle("flex");
      document.getElementById(modalID + "-backdrop").classList.toggle("flex");
  }

  function openDropdown(event,dropdownID){
    let element = event.target;
    while(element.nodeName !== "BUTTON"){
      element = element.parentNode;
    }
    var popper = Popper.createPopper(element, document.getElementById(dropdownID), {
      placement: 'bottom-start'
    });
    document.getElementById(dropdownID).classList.toggle("hidden");
    document.getElementById(dropdownID).classList.toggle("block");
  }

  function closeDropdown(event,dropdownID){
    document.getElementById(dropdownID).classList.toggle("hidden");
  }

   window.addEventListener("load", (event) => {
        const menulinks = document.getElementsByClassName("dash");
         
        for (i = 0; i < menulinks.length; i++) {
                menulinks[i].className += " main-menu-selected";
            }
        // event.currentTarget.className += " tab-selected";
    
    });

  function printLeads() {
      const printSection = document.getElementById('print-section').innerHTML;
      const originalContents = document.body.innerHTML;
      document.body.innerHTML = printSection;
      window.print();
      document.body.innerHTML = originalContents;
  }

  function printCustomers() {
      const printSection = document.getElementById('print-section-customers').innerHTML;
      const originalContents = document.body.innerHTML;
      document.body.innerHTML = printSection;
      window.print();
      document.body.innerHTML = originalContents;
  }

  function printInactive() {
      const printSection = document.getElementById('print-section-inactive').innerHTML;
      const originalContents = document.body.innerHTML;
      document.body.innerHTML = printSection;
      window.print();
      document.body.innerHTML = originalContents;
  }
</script>
{% endblock script %} 

