 <div id="slideover-container" class="w-full h-full fixed inset-0 invisible">
        <div onclick="toggleSlideover()" id="slideover-bg" class="w-full h-full duration-500 ease-out transition-all inset-0 absolute bg-gray-900 opacity-0"></div>
        <div id="slideover" class="w-96 bg-white hover:text-gray-500 h-full absolute right-0 duration-300 ease-out transition-all translate-x-full">
            <div class="absolute cursor-pointer text-gray-600 top-0 w-8 h-8 flex items-center justify-center right-0 mt-5 mr-5">
                <div class="ml-3 flex h-7 items-center">
                    <button onclick="toggleSlideover()" type="button" class="relative rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                        <span class="sr-only">Close panel</span>
                        <svg class="h-6 w-6 text-white hover:text-gray-50 hover:ring-gray-50 hover:ring-2 hover:rounded-md" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
               <div class="pointer-events-auto w-screen max-w-md">
                    <div class="flex h-full flex-col overflow-y-scroll bg-indigo-600 py-6 shadow-xl">
                        <div class="px-4 sm:px-6">
                            <div class="flex items-start justify-between">
                                <h2 class="text-base font-semibold leading-6 text-white" id="slide-over-title">Customer filter</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5">
                    <form id="filterCustomerForm" action={% url 'filter-customer' %} method="POST">
                        {% csrf_token %}
                            <div>
                                <div class="mt-6 px-10 pb-5 gap-y-3 gap-x-6">
                                    <div>
                                        <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">First name</label>
                                        <input type="text" name="first-name" id="first-name" class="mt-2 block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6">
                                        <span class="error-message"></span>
                                    </div>

                                    <div class="col-span-4 mt-2 sm:col-span-2">
                                        <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Last name</label>
                                        <input type="text" name="last-name" id="last-name" class="mt-2 block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6">
                                        <span class="error-message"></span>
                                    </div>

                                    <div class="col-span-4 mt-2 sm:col-span-2">
                                        <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Phone</label>
                                        <input type="text" name="phone" id="phone" autocomplete="cc-given-tel" class="mt-2 block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6">
                                        <span class="error-message"></span>
                                    </div>

                                    <div class="col-span-4 mt-2 sm:col-span-2">
                                        <label for="dob" class="block text-sm font-medium leading-6 text-gray-900">Date of birth</label>
                                        <input type="date" name="dob" id="dob" autocomplete="cc-given-dob" class="mt-2 block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6">
                                        <span class="error-message"></span>
                                    </div>

                                    <div class="col-span-4 mt-2 sm:col-span-2">
                                        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
                                        <input type="email" name="email" id="email" autocomplete="cc-given-email" class="mt-2 block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6">
                                        <span class="error-message"></span>
                                    </div>

                                    <div class="col-span-4 mt-2 sm:col-span-2">
                                        <label for="policy-number" class="block text-sm font-medium leading-6 text-gray-900">Policy number</label>
                                        <input type="text" name="policy-number" id="policy-number" class="mt-2 block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6">
                                        <span class="error-message"></span>
                                    </div>
                                </div> 
                            </div>
                            <div class="px-4 py-3 text-right sm:px-6">
                                <button type="submit" class="inline-flex justify-center rounded-md bg-gray-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">Filter</button>
                            </div>
                    </form>
                </div>
 
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('filterCustomerForm');
        form.addEventListener('submit', function (event) {
        // Prevent the form from submitting
        event.preventDefault();
        let isValid = true;
            if (isValid) {
                // Show loading indicator
                document.getElementById('loadingIndicator').classList.remove('hidden');
                toggleSlideover();
                // Submit the form
                form.submit();
            }
        });
    });
</script>